<section class="bg-primary" id="about">
    <style>
        .centered-type {
            text-align: center;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading description" lang="zh">个人介绍</h2>
                <h2 class="section-heading description" lang="en">Introduction</h2>
                <hr class="light">
                <p class="text-faded description" lang="zh">13年古筝教学经验，师从著名古筝演奏家宋婷婷教授</p>
                <p class="text-faded description" lang="zh">星海音乐学院古筝演奏专业，留美音乐教育硕士</p>
                <p class="text-faded description" lang="zh">拥有中国音乐高级教师资格证，心理学及教育学资格证书</p>
                <p class="text-faded description" lang="zh">中国古筝海外考级优秀指导老师，中国社会艺术水平考级专业古筝评委</p>
                <p class="text-faded description" lang="en">13 years experience as a Guzheng teacher, a student of famous Guzheng performer Tingting Song</p>
                <p class="text-faded description" lang="en">BA of Guzheng Performance in Xinghai Conservatory of Music (Top 3 music Conservatory in China) and MA in Music Education</p>
                <p class="text-faded description" lang="en">Certificates: Chinese Senior Music Teacher, Teacher Qualification of Phycology and Education</p>
                <p class="text-faded description" lang="en">Title: Notable Chiense Guzheng Instructor Oversea, Judge of Chinese Guzheng Grading Examinations </p>
            </div>
        </div>
    </div>
</section>
